@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');


// *** FONT ***
$fonts : 'Roboto', sans-serif;

// *** FONT-SIZE ***
$fontNav: 1.6rem;

// *** COLOR ***
$primary: rgba(15, 104, 222, 1);
$secondary: rgb(11, 20, 96);

$colorEffect: rgb(153, 255, 206);
$background: #F2F4F8;

$white: rgb(255, 255, 255);
$textColor: rgb(81, 81, 81)

